# Discord Bot Configuration
DISCORD_TOKEN=your_bot_token_here
COMMAND_PREFIX=!
ADMIN_ROLE_ID=your_admin_role_id_here

PRONOUN_CHANNEL_ID=your_pronoun_channel_id_here
PRONOUN_MESSAGE_ID=your_pronoun_message_id_here

PRONOUN_ROLE_SHE=your_pronoun_role_she_id_here
PRONOUN_ROLE_THEY=your_pronoun_role_they_id_here
PRONOUN_ROLE_ANY=your_pronoun_role_any_id_here
PRONOUN_ROLE_HE=your_pronoun_role_he_id_here

RULE_CHANNEL_ID=your_rule_channel_id_here
RULE_MESSAGE_ID=your_rule_message_id_here

# Optional Configuration
LOG_LEVEL=INFO
ENVIRONMENT=development
